# Cache files
*~

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# ROOT and slcio files
*.root
*.slcio

# Plots
*.pdf
*.png
*.eps
*.ps
*.gif
*.jpeg

# Logs
*.log
*nohup*

# Python compiling
*.pyc
*_C.d
*_C.so
*.pcm


# Models

models/*.txt
models_new/*.txt